#our-mission-description-detail
{
    padding-bottom: 10px;
    font-size: 25px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
#our-mission-image1
{
    width: 300px;
    transition: transform 0.3s ease;
    float: right;     
}
#our-mission-image2
{
    width: 300px;
    transition: transform 0.3s ease;
    float: left; 
}
#our-mission-image3
{
    width: 250px;
    transition: transform 0.3s ease;
    float: right;
}
#our-mission-description-detail1
{
    padding-bottom: 10px;
    font-size: 25px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
}
#our-mission-description
{
    padding-bottom: 35px;
    background-color: blanchedalmond;
}